In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('master.csv')

In [3]:
df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [4]:
df.set_index('year', inplace=True)

In [6]:
df.index.unique()

Int64Index([1987, 1988, 1989, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999,
            2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
            1985, 1986, 1990, 1991, 2012, 2013, 2014, 2015, 2011, 2016],
           dtype='int64', name='year')

In [7]:
df.sort_index(inplace=True)

In [8]:
df.head()

,country,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
year,,,,,,,,,,,
1985,Saint Vincent and Grenadines,male,35-54 years,2,6100,32.79,Saint Vincent and Grenadines1985,NaN,"145,641,704",1622,Silent
1985,Saint Vincent and Grenadines,female,55-74 years,0,4100,0.00,Saint Vincent and Grenadines1985,NaN,"145,641,704",1622,G.I. Generation
1985,Saint Vincent and Grenadines,female,75+ years,0,1000,0.00,Saint Vincent and Grenadines1985,NaN,"145,641,704",1622,G.I. Generation
1985,Saint Vincent and Grenadines,male,15-24 years,0,12100,0.00,Saint Vincent and Grenadines1985,NaN,"145,641,704",1622,Generation X
1985,Saint Vincent and Grenadines,male,25-34 years,0,9300,0.00,Saint Vincent and Grenadines1985,NaN,"145,641,704",1622,Boomers

In [9]:
df.index.unique()

Int64Index([1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995,
            1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006,
            2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016],
           dtype='int64', name='year')

In [10]:
df.columns

Index(['country', 'sex', 'age', 'suicides_no', 'population',
       'suicides/100k pop', 'country-year', 'HDI for year',
       ' gdp_for_year ($) ', 'gdp_per_capita ($)', 'generation'],
      dtype='object')

In [15]:
df.rename(columns={' gdp_for_year ($) ': 'gdp_for_year ($)'}, inplace=True)

In [16]:
df.columns

Index(['country', 'sex', 'age', 'suicides_no', 'population',
       'suicides/100k pop', 'country-year', 'HDI for year', 'gdp_for_year ($)',
       'gdp_per_capita ($)', 'generation'],
      dtype='object')

In [23]:
df['gdp_for_year ($)'] = df['gdp_for_year ($)'].str.replace(",", "")

In [26]:
df['gdp_for_year ($)'] = df['gdp_for_year ($)'].astype('int64')

In [28]:
df.head()

,country,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
year,,,,,,,,,,,
1985,Saint Vincent and Grenadines,male,35-54 years,2,6100,32.79,Saint Vincent and Grenadines1985,NaN,145641704,1622,Silent
1985,Saint Vincent and Grenadines,female,55-74 years,0,4100,0.00,Saint Vincent and Grenadines1985,NaN,145641704,1622,G.I. Generation
1985,Saint Vincent and Grenadines,female,75+ years,0,1000,0.00,Saint Vincent and Grenadines1985,NaN,145641704,1622,G.I. Generation
1985,Saint Vincent and Grenadines,male,15-24 years,0,12100,0.00,Saint Vincent and Grenadines1985,NaN,145641704,1622,Generation X
1985,Saint Vincent and Grenadines,male,25-34 years,0,9300,0.00,Saint Vincent and Grenadines1985,NaN,145641704,1622,Boomers

In [31]:
df[df.duplicated()]

Empty DataFrame
Columns: [country, sex, age, suicides_no, population, suicides/100k pop, country-year, HDI for year, gdp_for_year ($), gdp_per_capita ($), generation]
Index: []

In [33]:
df.dropna(how='all').shape

(27820, 11)

In [35]:
df.dropna(how='all').shape

(27820, 11)

In [41]:
df.generation.isna().shape

(27820,)